.campaign_content_wrap {
  width: 1250px;
  min-height: 900px;
  margin-top: 50px;
}
.campaign_main {
  width: 100%;
}
.campaign_content_wrap > button {
  margin-left: 150px;
  margin-bottom: 30px;
}
