.camp_settings_wrap {
  width: 1200px;
}
.camp_settings_title {
  text-align: center;
}
.camp_settings_main_wrap {
  margin-top: 40px;
  display: flex;
  gap: 100px;
  position: relative;
}
.return_btn {
  cursor: pointer;
  position: absolute;
  top: -30px;
}
.return_btn:hover {
  transform: translateX(-5px);
  transition-duration: 0.2s;
}

.camp_settings_sidebar {
  display: flex;
  flex-direction: column;
  gap: 60px;
  width: 400px;
  align-items: center;
  border: 1.5px solid var(--gray4);
  border-radius: 20px;
  padding: 20px;
}
.camp_settings_content_wrap {
  width: 700px;
  min-height: 600px;
}

/* .camp_settings_content_wrap {
  min-height: 600px;
  width: 200px;
} */
