<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.co.iei.alarm.model.dao.AlarmDao">
	<update id="alarmAllCheck">
		update alarm_tbl set alarm_check = 1 where member_id = #{memberId}
	</update>
	<select id="selectAllAlarm" resultType="alarm">
		select * from alarm_tbl where alarm_del = 1 and member_id = #{memberId}
	</select>
	<select id="isNewAlarm" resultType="int">
		select count(alarm_check) from alarm_tbl where alarm_check=0 and member_id = #{memberId}
	</select>
	<update id="alarmChecked">
		update alarm_tbl set alarm_check = 1 where member_id = #{memberId}
	</update>
	<update id="alarmDel">
		update alarm_tbl set alarm_del = 0 where alarm_no = #{alarmNo} and member_id = #{memberId}
	</update>
	<update id="alarmalldel">
		update alarm_tbl set alarm_del = 0 where member_id = #{memberId}
	</update>
</mapper>
