<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.co.iei.board.model.dao.BoardDao">
<select id="selectBoardList" parameterType="map" resultType="board">
    SELECT
        BOARD_NO,
        WRITER_ID,
        BOARD_TITLE,
        BOARD_CONTENT,
        BOARD_THUMB,
        TO_CHAR(BOARD_DATE, 'YYYY-MM-DD') AS BOARD_DATE,
        MEMBER_NICKNAME,
        BOARD_STATUS,
        BOARD_LAT,
        BOARD_LNG,
        READ_COUNT,

        MEMBER_NICKNAME AS WRITER_NICKNAME,
        TO_CHAR(BOARD_DATE, 'YYYY-MM-DD') AS CREATE_DATE,
        BOARD_THUMB AS THUMBNAIL_URL,
        0 AS LIKE_COUNT,
        0 AS COMMENT_COUNT
    FROM BOARD_TBL
    WHERE BOARD_STATUS = #{status}

    <if test="searchKeyword != null and searchKeyword != ''">
        <choose>
            <when test="searchType == 1">
                AND BOARD_TITLE LIKE '%' || #{searchKeyword} || '%'
            </when>
            <when test="searchType == 2">
                AND MEMBER_NICKNAME LIKE '%' || #{searchKeyword} || '%'
            </when>
        </choose>
    </if>

    ORDER BY BOARD_NO DESC
</select>
<insert id="insertBoard" parameterType="board">
    <selectKey keyProperty="boardNo" resultType="int" order="BEFORE">
        SELECT ISEQ$$_80822.NEXTVAL FROM DUAL
    </selectKey>

    INSERT INTO BOARD_TBL (
        BOARD_NO,
        WRITER_ID,
        BOARD_TITLE,
        BOARD_CONTENT,
        BOARD_THUMB,
        MEMBER_NICKNAME,
        BOARD_STATUS,
        BOARD_LAT,
        BOARD_LNG
    ) VALUES (
        #{boardNo},
        #{writerId},
        #{boardTitle},
        #{boardContent},
        #{boardThumb},
        #{memberNickname},
        #{boardStatus},
        #{boardLat},
        #{boardLng}
    )
</insert>


<update id="updateBoard" parameterType="board">
    UPDATE BOARD_TBL
    SET
        BOARD_TITLE = #{boardTitle},
        BOARD_CONTENT = #{boardContent},
        BOARD_THUMB = #{boardThumb}
    WHERE BOARD_NO = #{boardNo}
</update>

<delete id="deleteBoard" parameterType="int">
    DELETE FROM BOARD_TBL
    WHERE BOARD_NO = #{boardNo}
</delete>
<insert id="insertBoardFile" parameterType="boardFile">
    <selectKey keyProperty="fileNo" resultType="int" order="BEFORE">
        SELECT BOARD_FILE_SEQ.NEXTVAL FROM DUAL
    </selectKey>

    INSERT INTO BOARD_FILE_TBL (
        FILE_NO,
        BOARD_NO,
        MEMBER_ID,
        BOARD_FILE_NAME,
        BOARD_FILE_PATH
    ) VALUES (
        #{fileNo},
        #{boardNo},
        #{memberId},
        #{boardFileName},
        #{boardFilePath}
    )
</insert>
<select id="bestBoardList" resultType="kr.co.iei.board.model.vo.BoardLike">
select 
t.board_no, count(t.board_no) as count, b.board_title, b.ctpv, b.sgg
from board_like_tbl t 
join board_tbl b on (t.board_no = b.board_no)
where t.board_no = t.board_no
group by t.board_no, b.board_title, b.ctpv, b.sgg order by 2 desc
</select>

<select id="selectMemberIdBoard" resultType="board">
	select 
	board_no,
	member_nickname,
	board_title,
	board_thumb,
	board_date,
	read_count 
	from board_tbl 
	where writer_id = #{memberId} 
	
	<if test="searchBoard != '' and searchBoard != null">
		and board_title like '%' || #{searchBoard} || '%'
	</if>
	<if test="filter==1">
		order by board_no desc
	</if>
	<if test="filter==2">
		order by board_no asc
	</if>
	<if test="filter==3">
		order by read_count desc
	</if>
	<if test="filter==4">
		order by read_count asc
	</if>
</select>
</mapper>
