<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.co.iei.campaign.model.dao.CampaignDao">

    <select id="selectAllCampaign" resultType="camp">
        SELECT campaign_no,
               campaign_title,
               campaign_status,
               campaign_goal_member,
               DATE_FORMAT(campaign_start_date, '%Y-%m-%d') AS campaign_start_date,
               DATE_FORMAT(DATE_SUB(campaign_expire_date, INTERVAL 1 DAY), '%Y-%m-%d') AS campaign_expire_date
        FROM create_campaign_tbl
        WHERE campaign_status IN (1, 2, 3, 4)
        <if test="campaignTitle != null and campaignTitle != '' and searchFilter == 1">
            AND campaign_title LIKE CONCAT('%', #{campaignTitle}, '%')
        </if>
        <if test="campaignTitle != null and campaignTitle != '' and searchFilter == 2">
            AND member_id LIKE CONCAT('%', #{campaignTitle}, '%')
        </if>
        <if test="orderFilter == 3">
            AND campaign_status IN (1, 2)
        </if>
        <if test="orderFilter == 4">
            AND campaign_status IN (3, 4)
        </if>
        <if test="orderFilter == 1">
            ORDER BY campaign_start_date DESC
        </if>
        <if test="orderFilter == 2">
            ORDER BY campaign_start_date ASC
        </if>
        LIMIT #{size} OFFSET #{page} * #{size}
    </select>

    <select id="selectOneCampaign" resultType="camp">
        SELECT campaign_title,
               campaign_status,
               campaign_explanation,
               campaign_goal_member,
               campaign_start_date,
               campaign_expire_date,
               member_id,
               (SELECT COUNT(*) FROM campaign_member_tbl WHERE campaign_no = #{campaignNo}) AS member_count
        FROM create_campaign_tbl
        WHERE campaign_no = #{campaignNo}
    </select>

    <insert id="createCampaign" parameterType="camp" useGeneratedKeys="true" keyProperty="campaignNo">
        INSERT INTO create_campaign_tbl (
            campaign_title,
            campaign_explanation,
            campaign_status,
            campaign_goal_member,
            campaign_expire_date,
            member_id
        ) VALUES (
            #{campaignTitle},
            #{campaignExplanation},
            0,
            #{campaignGoalMember},
            DATE_ADD(STR_TO_DATE(#{campaignExpireDate}, '%Y-%m-%d'), INTERVAL 1 DAY),
            #{memberId}
        )
    </insert>

    <select id="checkParticipanceMember" resultType="String">
        SELECT member_id FROM campaign_member_tbl WHERE campaign_no = #{campaignNo}
    </select>

    <insert id="joinCampaign" parameterType="map">
        INSERT INTO campaign_member_tbl (member_id, campaign_no) 
        VALUES (#{memberId}, #{campaignNo})
    </insert>

    <update id="changeStatus">
        UPDATE create_campaign_tbl SET campaign_status = #{campaignStatus} WHERE campaign_no = #{campaignNo}
    </update>

    <select id="selectCampaignStatus" resultType="camp">
        SELECT campaign_no,
               campaign_status,
               campaign_goal_member,
               campaign_expire_date,
               (SELECT COUNT(*) FROM campaign_member_tbl cmt WHERE cmt.campaign_no = cct.campaign_no) AS member_count,
               member_id
        FROM create_campaign_tbl cct
    </select>

    <insert id="insertMemo" parameterType="campPart" useGeneratedKeys="true" keyProperty="campaignParticipanceNo">
        INSERT INTO campaign_participance_tbl (
            campaign_thumb,
            campaign_memo,
            campaign_no,
            campaign_participance_date,
            campaign_expire_date,
            member_id
        ) VALUES (
            #{campaignThumb},
            #{campaignMemo},
            #{campaignNo},
            NOW(),
            STR_TO_DATE(#{campaignExpireDate}, '%Y-%m-%dT%H:%i:%s'),
            #{memberId}
        )
    </insert>

    <select id="countCampBoardList" resultType="int">
        SELECT COUNT(*) FROM campaign_participance_tbl WHERE campaign_no = #{campaignNo}
    </select>

    <select id="getCampBoardList" resultType="campPart">
        SELECT * FROM campaign_participance_tbl
        WHERE campaign_no = #{campaignNo}
        LIMIT #{size} OFFSET #{page} * #{size}
    </select>

    <select id="getCampBoardDetail" resultType="campPart">
        SELECT * FROM campaign_participance_tbl WHERE campaign_participance_no = #{campaignParticipanceNo}
    </select>

    <update id="updateParticipanceBoard">
        UPDATE campaign_participance_tbl
        SET campaign_thumb = #{campaignThumb}, campaign_memo = #{campaignMemo}
        WHERE campaign_participance_no = #{campaignParticipanceNo}
    </update>

    <delete id="deleteBoardMemo">
        DELETE FROM campaign_participance_tbl WHERE campaign_participance_no = #{campaignParticipanceNo}
    </delete>

    <select id="getTotalPoint" resultType="int">
        SELECT total_point FROM member_point_tbl WHERE member_id = #{memberId}
    </select>

    <insert id="insertPointState">
        INSERT INTO point_tbl (
            member_id,
            point_change,
            point_route,
            point_content,
            point_expire_date
        ) VALUES (
            #{memberId},
            #{pointChange},
            'campaign',
            '캠페인성공보상',
            DATE_ADD(NOW(), INTERVAL 1 YEAR)
        )
    </insert>

    <update id="updatePoint">
        UPDATE member_point_tbl
        SET total_point = total_point + #{pointChange}
        WHERE member_id = #{memberId}
    </update>

    <insert id="insertCampNotice" useGeneratedKeys="true" keyProperty="campaignNoticeNo">
        INSERT INTO campaign_notice_tbl (
            campaign_notice_title,
            campaign_notice_content,
            campaign_notice_writer,
            campaign_no,
            campaign_notice_date
        ) VALUES (
            #{campaignNoticeTitle},
            #{campaignNoticeContent},
            #{campaignNoticeWriter},
            #{campaignNo},
            NOW()
        )
    </insert>

    <update id="inheritManager">
        UPDATE create_campaign_tbl SET member_id = #{memberId} WHERE campaign_no = #{campaignNo}
    </update>

    <delete id="deletePartMember">
        DELETE FROM campaign_member_tbl WHERE member_id = #{memberId} AND campaign_no = #{campaignNo}
    </delete>

    <insert id="banPartMember">
        INSERT INTO campaign_exile_tbl (member_id, campaign_no, campaign_exile_reason) 
        VALUES (#{memberId}, #{campaignNo}, #{campaignExileReason})
    </insert>

    <insert id="alarmBanMember">
        INSERT INTO alarm_tbl (
            member_id,
            alarm_type,
            alarm_title,
            alarm_content,
            alarm_status,
            alarm_date,
            alarm_read,
            alarm_data
        ) VALUES (
            #{memberId}, 
            3, 
            '캠페인 추방', 
            #{alarmData}, 
            0, 
            NOW(), 
            1, 
            NULL
        )
    </insert>

    <select id="selectBannedMember" resultType="String">
        SELECT member_id FROM campaign_exile_tbl WHERE campaign_no = #{campaignNo}
    </select>

    <select id="selectCampForUpdate" resultType="camp">
        SELECT campaign_title, campaign_explanation, campaign_goal_member
        FROM create_campaign_tbl
        WHERE campaign_no = #{campaignNo}
    </select>

    <insert id="insertIntoUpdateTbl">
        INSERT INTO campaign_update_tbl (campaign_no) 
        VALUES (#{campaignNo})
    </insert>

    <select id="getNoticeList" resultType="campNo">
        SELECT campaign_notice_no,
               campaign_notice_title,
               campaign_notice_writer,
               campaign_notice_date,
               cnt.campaign_no,
               (SELECT campaign_title FROM create_campaign_tbl cct WHERE cct.campaign_no = cnt.campaign_no) AS campaign_title
        FROM campaign_notice_tbl cnt
        ORDER BY campaign_notice_date DESC
        LIMIT #{size} OFFSET #{page} * #{size}
    </select>

    <select id="getOnlyCampaignStatus" resultType="int">
        SELECT campaign_status FROM create_campaign_tbl WHERE campaign_no = #{campaignNo}
    </select>

    <update id="campaignUpdateTblUpdate">
        UPDATE campaign_update_tbl
        SET campaign_title = #{campaignTitle},
            campaign_explanation = #{campaignExplanation},
            campaign_goal_member = #{campaignGoalMember}
        WHERE campaign_no = #{campaignNo}
    </update>

    <select id="selectCampaignNoSeq" resultType="int">
        SELECT LAST_INSERT_ID()
    </select>

    <update id="terminateCamp">
        UPDATE create_campaign_tbl SET campaign_status = 5 WHERE campaign_no = #{campaignNo}
    </update>

    <insert id="alarmTerminateCamp">
        INSERT INTO alarm_tbl (
            member_id,
            alarm_type,
            alarm_title,
            alarm_content,
            alarm_status,
            alarm_date,
            alarm_read,
            alarm_data
        ) VALUES (
            #{memberId}, 
            5, 
            #{alarmContent}, 
            #{alarmData}, 
            0, 
            NOW(), 
            1, 
            NULL
        )
    </insert>

    <select id="selectFrontCamp" resultType="camp">
        SELECT campaign_no,
               campaign_title,
               campaign_goal_member,
               campaign_expire_date,
               campaign_start_date,
               member_id,
               (SELECT COUNT(*) FROM campaign_member_tbl cmt WHERE cmt.campaign_no = cct.campaign_no) AS member_count
        FROM create_campaign_tbl cct
        WHERE campaign_status IN (1, 2)
        ORDER BY member_count DESC
        LIMIT 10
    </select>

    <select id="selectOnlyFiveNotice" resultType="campNo">
        SELECT campaign_notice_title, campaign_notice_writer, campaign_notice_no, campaign_no
        FROM campaign_notice_tbl
        WHERE campaign_notice_date > DATE_SUB(NOW(), INTERVAL 10 DAY)
        LIMIT 5
    </select>

    <select id="selectNoticeDetail" resultType="campNo">
        SELECT campaign_notice_no,
               campaign_notice_title,
               campaign_notice_content,
               campaign_notice_writer,
               campaign_notice_date,
               (SELECT campaign_title FROM create_campaign_tbl cct WHERE cct.campaign_no = cnt.campaign_no) AS campaign_title
        FROM campaign_notice_tbl cnt
        WHERE campaign_notice_no = #{campaignNoticeNo}
    </select>

    <select id="selectAllCampaignCount" resultType="int">
        SELECT COUNT(*) FROM create_campaign_tbl
        WHERE campaign_status IN (1, 2, 3, 4)
        <if test="searchFilter == 1 and campaignTitle != null and campaignTitle != ''">
            AND campaign_title LIKE CONCAT('%', #{campaignTitle}, '%')
        </if>
        <if test="searchFilter == 2 and campaignTitle != null and campaignTitle != ''">
            AND member_id LIKE CONCAT('%', #{campaignTitle}, '%')
        </if>
        <if test="orderFilter == 3">
            AND campaign_status IN (1, 2)
        </if>
        <if test="orderFilter == 4">
            AND campaign_status IN (3, 4)
        </if>
    </select>

    <select id="selectCampNoticeCount" resultType="int">
        SELECT COUNT(*) FROM campaign_notice_tbl
    </select>

    <update id="updateDetailNotice">
        UPDATE campaign_notice_tbl
        SET campaign_notice_title = #{campaignNoticeTitle},
            campaign_notice_content = #{campaignNoticeContent}
        WHERE campaign_notice_no = #{campaignNoticeNo}
    </update>

    <delete id="deleteDetailNotice">
        DELETE FROM campaign_notice_tbl WHERE campaign_notice_no = #{campaignNoticeNo}
    </delete>

</mapper>