<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.iei.donation.model.dao.DonationDao">

    <update id="updateMemberPoint">
        UPDATE member_point_tbl
        SET total_point = total_point - #{donationPoint}
        WHERE member_id = #{memberId}
          AND total_point >= #{donationPoint}
    </update>

    <update id="updateGroupTotalPoint">
        UPDATE donation_group
        SET total_points = total_points + #{donationPoint}
        WHERE group_id = #{groupId}
    </update>
    
    <insert id="insertPointRecordResult" parameterType="map" useGeneratedKeys="true" keyProperty="donationNo">
        INSERT INTO point_donation (
            member_id,
            group_id,
            donation_point,
            donation_cash,
            donation_date
        ) VALUES (
            #{memberId}, 
            #{groupId},
            #{donationPoint},
            #{donationCash},
            NOW()
        )
    </insert>
    
</mapper>