<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.co.iei.member.model.dao.MemberDao">

	<insert id="insertMember"
		parameterType="kr.co.iei.member.model.vo.Member">
		INSERT INTO member_tbl1
		(member_id, member_pw, member_name, member_grade, member_nickname, member_email,
		member_thumb,
		enroll_date, member_status, manner_score, trade_count)
		VALUES
		(#{memberId}, #{memberPw}, #{memberName}, 2, #{memberNickname},
		#{memberEmail}, #{memberThumb}, SYSDATE, 1,
		0, 0)
	</insert>
	
	<select id="selectOneMember" resultType="member">
		select * from member_tbl1
		where member_id =#{memberId}
	</select>
	
	<select id="selectMemberList" resultType="member">
		select
			member_id,
			member_name,
			member_email,
			enroll_date,
			member_grade,
			member_status
		from member_tbl1
	</select>
	<update id="updateMemberInfo">
		update member_tbl set member_name=#{memberName}, member_nickname=#{memberNickname}, member_email=#{memberEmail}
		where member_id=#{memberId}
	</update>
	<select id="getOneMemberInfo" resultType="member">
		select member_name,member_email,enroll_date,member_status from member_tbl1 where member_id = #{memberId} 
	</select>
	<select id="memberPw" resultType="member">
		select member_pw from member_tbl1 where member_id =#{memberId}
	</select>
	<update id="updatePw">
		update member_tbl1 set member_pw=#{memberPw} where member_id = #{memberId}
	</update>
	<update id="updateMemberThumb">
		update member_tbl1 set member_thumb=#{memberThumb} where member_id = #{memberId}
	</update>
	
	<!-- 포인트 조회 -->
	<select id="selectMemberPoint" parameterType="string" resultType="int">
	SELECT TOTAL_POINT
	FROM MEMBER_POINT_TBL
	WHERE MEMBER_ID = #{memberId}
</select>

<update id="decreasePoint">
    UPDATE MEMBER_POINT_TBL
    SET TOTAL_POINT = TOTAL_POINT - #{point}
    WHERE MEMBER_ID = #{memberId}
</update>
</mapper>
