<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.iei.point.dao.PointDao">
	
	<select id="selectTotalPoint" resultType="Integer">
		select total_point 
		from member_point_tbl
		where member_id = #{memberId}
	</select>
	
	 <!-- 나무 키우기 포인트 사용 내역 조회 -->
    <select id="selectPointHistory" parameterType="string" resultType="contribution">
        SELECT
            CONTRIBUTION_NO AS contributionNo,
            MEMBER_ID AS memberId,
            REGION_NO AS regionNo,
            CONTRIBUTED_POINT AS contributedPoint,
            TO_CHAR(CONTRIBUTED_AT, 'YYYY-MM-DD') AS contributedAt
        FROM REGION_CONTRIBUTION_TBL
        WHERE MEMBER_ID = #{memberId}
        ORDER BY CONTRIBUTED_AT DESC, CONTRIBUTION_NO DESC
    </select>
</mapper>