<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.iei.region.model.dao.RegionDao">

    <select id="selectRegionList" resultType="region">
        SELECT
            R.REGION_NO AS regionNo,
            R.REGION_NAME AS regionName,
            T.TREE_LEVEL AS treeLevel,
            T.TREE_EXP AS treeExp,
            T.TOTAL_POINT_USED AS totalPointUsed
        FROM REGION_TBL R
        JOIN REGION_TREE_TBL T
          ON R.REGION_NO = T.REGION_NO
        ORDER BY R.REGION_NO
    </select>

    <update id="increaseTreeExp">
        UPDATE REGION_TREE_TBL
        SET TREE_EXP = TREE_EXP + #{appliedPoint}
        WHERE REGION_NO = #{regionNo}
    </update>

    <insert id="insertContribution">
        INSERT INTO REGION_CONTRIBUTION_TBL
        (CONTRIBUTION_NO, MEMBER_ID, REGION_NO, CONTRIBUTED_POINT)
        VALUES (contribution_seq.NEXTVAL, #{memberId}, #{regionNo}, #{point})
    </insert>

    <update id="resetWeeklyTree">
        UPDATE REGION_TREE_TBL
        SET TREE_LEVEL = 1,
            TREE_EXP = 0,
            TOTAL_POINT_USED = 0
    </update>

</mapper>