.total_find_id_container {
  /* 조건 1: 화면 전체를 강제로 덮어 헤더/푸터 차단 */
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999999; /* 헤더보다 높은 값을 주어야 함 */

  /* 배경 설정 */
  background-color: #f8faf7; /* 이미지가 안 뜰 경우를 대비한 기본색 */
  background-image: url("/images/login_bg_final_clean.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;
}

.find_id_wrap {
  width: 500px;
  min-height: 65vh;
  margin: 80px auto;
  padding: 50px 35px 180px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 25px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);

  /* 내부 요소들을 세로 축 중앙 정렬 */
  align-items: center;
  justify-content: flex-start; /* 위에서부터 차례대로 배치 */
  padding-top: 60px;
  position: relative;
  overflow: hidden;
  border: 3px solid lightgreen;
}

.page_title {
  text-align: center;
  width: 100%;
  margin-bottom: 30px;
}

.input_wrap {
  width: 100%;
  text-align: left;
  margin-top: 30px;
  margin-bottom: 20px;
}

.input_wrap label {
  display: block;
  text-align: left;
}

.find_id_btn {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #6c63ff;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.btn_wrap {
  width: 100%;
  align-items: center;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.disabled_btn {
  background-color: #ccc;
  cursor: not-allowed;
  pointer-events: none; /*클릭 막기*/
}
