.alarm_wrap {
  position: absolute;
  width: 300px;
  height: 400px;
  background-color: var(--gray8);
  opacity: 0.9;
  padding: 18px 24px;
  border: var(--border2);
  border-radius: 12px;
  z-index: 999999;
  right: 0%;
  transform: translateX(2%);
  margin-top: 4px;
}
