.ranklist_wrap {
  padding: 15px 24px;
  height: 280px;
  overflow: scroll;
  background-color: #eef3e8;
  border-radius: 18px;
}
.ranklist_wrap > div:first-child {
  font-weight: 600;
  margin-bottom: 18px;
}
.list_wrap {
  padding: 4px 0;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}
.list_item {
  display: flex;
  width: 100%;
  padding: 8px 14px;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  background-color: var(--gray8);
  color: var(--color1);
  font-size: 13px;
  font-weight: 600;
  cursor: default;
}
.list_item > div {
  display: flex;
  gap: 8px;
  align-items: center;
}
.list_item > div > p:first-child {
  font-weight: 600;
  font-size: 14px;
  width: 18px;
  display: flex;
  justify-content: center;
}
.list_item > p:last-child {
  font-weight: 600;
  font-size: 14px;
}
.list_item > p:first-child {
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}
.list_wrap > div > p:nth-child(2) {
  border: 1px solid var(--border);
}
.list_thumb {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: contain;
}
.ranklist_wrap > p {
  font-size: 14px;
  font-weight: 300;
  color: var(--gray1);
  text-align: center;
}
