/* AdminHeader.jsx */
.admin_header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 28px;
  margin-top: 32px;
}

.admin_header > h1 {
  font-size: 30px;
  font-weight: 900;
  color: #ccd3ff;
}

.admin_header > h1 a,
.admin_header > h1 a:visited,
.admin_header > h1 a:hover,
.admin_header > h1 a:active {
  color: #b7de67;
  text-decoration: none;
}

.header_wrap {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.profile_bar_wrap {
  display: flex;
  align-items: center;
  gap: 10px;
}

.profile_item {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 15px;
  font-weight: 600;
  margin-right: 5px;
  color: #d7dfec;
  cursor: pointer;
}

.profile_bar_wrap > button {
  border: 1px solid #5f7694;
  background-color: #0b1326;
  color: #d7dfec;
  border-radius: 8px;
  padding: 8px 14px;
  cursor: pointer;
}

.profile_bar_wrap > button:hover {
  background-color: #1f2f53;
}

/* AdminFooter.jsx */
.admin_footer {
  width: 100%;
  
  font-size: 15px;
  color: #d7dfec;
  padding: 12px 24px;
}

.admin_footer_wrap {
  
  padding-top: 12px;
}

.admin_footer_guide > ul {
  display: flex;
  list-style-type: none;
  gap: 30px;
  font-weight: 500;
  margin-bottom: 8px;
}

.admin_footer_info {
  color: #8ea1ba;
}
