.support_wrap {
    padding: 24px 0px;
}

.top_menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.active {
    padding: 8px 12px;
    background-color: var(--admin-stroke);
    border-radius: 12px;
}