.admin_outer {
  width: 100%;
  background-color: #0b0f1a;
  display: flex;
  justify-content: center;
  color: #fff;
  margin: 40px 0px;
}

.admin_wrap {
  display: flex;
  max-width: 1320px;
  width: 100%;
  margin: 0 auto;
  gap: 24px;
  padding: 12px 24px 12px;
  height: 650px;
}

.admin_page_aside,
.admin_page_content {
  background-color: #121826;
  border: 1px solid #334c69;
  border-radius: 18px;
  box-shadow: 0 12px 24px #0a0a0a;
  height: 100%;
}

.admin_page_aside {
  padding: 14px 8px;
  flex: 0 0 260px;
  max-width: 260px;
}

.admin_page_content {
  padding: 12px 12px 20px;
  flex: 1 1 auto;
  overflow-y: auto;
}
/* 스크롤 바 디자인 */
.admin_page_content::-webkit-scrollbar {
  width: 6px;
}
.admin_page_content::-webkit-scrollbar-track {
  background: transparent;
}
.admin_page_content::-webkit-scrollbar-thumb {
  background: #334c69;
  border-radius: 10px;
}
