/*
  Header.jsx / Footer.jsx 전용 CSS Module 파일입니다.
  공통 컴포넌트의 레이아웃, 폰트 크기, 정렬을 정의합니다.
*/
/* Header.jsx */
header > h1 > a {
  font-size: 30px;
  font-weight: 800;
  color: #464d3e;
}
header > h1 a,
header > h1 a:visited,
header > h1 a:hover,
header > h1 a:active {
  color: inherit;
  text-decoration: none;
}
.login {
  display: flex;
  gap: 10px;
}
.btn {
  background-color: none;
  width: 90px;
  height: 38px;
  font-size: 15px;
  font-weight: 600;
  padding: 5px 10px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
/* .btn:hover {
} */
.outline {
  border: 2.5px solid #464d3e;
  background-color: #464d3e;
  color: #fff;
}
.inline {
  border: 2.5px solid #464d3e;
  background-color: transparent;
  color: #464d3e;
}
.login_btn {
  font-weight: 800;
}
header > .profile_bar_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.profile_bar_wrap {
  display: flex;
  gap: 10px;
}
.profile_item {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 15px;
  font-weight: 600;
  margin-right: 5px;
}

/* Footer.jsx */
.footer {
  margin-top: 10px;
  font-size: 15px;
}
.footer_guide > ul {
  display: flex;
  list-style-type: none;
  gap: 30px;
  font-weight: 500;
  margin-bottom: 8px;
}
.footer_info {
  color: gray;
}

.drawer_wrap {
  width: 100vw;
  min-height: 100vh;
  position: fixed;
  display: flex;
  right: 0;
  top: 0;
  background-color: transparent;
  transition-duration: 0.3s;
}
.header_drawer {
  width: 250px;
  background-color: #efefef;
  transition-duration: 0.2s;
}
.drawer_helper {
  opacity: 0;
  flex-grow: 1;
  background-color: antiquewhite;
}

.drawer_open {
  left: 0;
}
.drawer_close {
  left: 100%;
}

.drawer_menue {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 10px;
  padding: 10px;
}
.drawer_menue > a {
  text-decoration: none;
  color: black;
}
