.updatemyinfo_main_content_wrap {
  width: 700px;
  background-color: var(--gray6);
  border-radius: 10px;
}
.updatemyinfo_title_wrap {
  text-align: center;
  padding: 20px 0px;
}
.updatemyinfo_title_wrap > h3 {
  margin: 20px 0px;
}
.updatemyinfo_content_wrap > form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 0px 20px;
}
.updatemyinfo_btn_wrap {
  display: flex;
  align-self: center;
  margin: 20px 0px;
}
